<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Balance:</p>
    <h1 class="display-3">$<%= @total %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 ml-auto">
      <%= link_to "Add Transaction", new_transaction_path, class: "btn btn-primary float-right" %>
    </div>
  </div>
  <h1 class="text-center"><%= @page_title = "Envelopes" %></h1>
  <div class="row">
    <% @envelopes.each do |envelope| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card envelope">
          <%= link_to envelope_path(envelope) do %>
          <div class="card-body">
            <h4 class="card-title"><%= envelope.name %></h4>
            <h6 class="card-subtitle mb-2 text-muted">Money Available:</h6>
            <h3 class="card-text <% if envelope.total <= 0 %>red<% end %>">$<%= envelope.total %></h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= envelope.total/envelope.initialTotal * 100 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- <%= link_to 'View Transactions', envelope_path(envelope), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_envelope_path(envelope), class: "btn btn-outline-info float-right" %> -->
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
        <%= link_to(new_envelope_path) do %>


            <span class="plus">+</span>


      <% end %>
    </div>

  </div>
  <h1 class="text-center">Savings Envelopes</h1>
</div>
