<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Balance:</p>
    <h1 class="display-3">$<%= @total %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 ml-auto">
      <div class="btn-group float-right">
        <%= link_to "+ Transaction", new_transaction_path, class: "btn btn-primary" %>
        <%= link_to "+ Money", addmoney_path, class: "btn btn-primary" %>
        <%= link_to "+ Envelope", new_envelope_path, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
  <h1 class="text-center"><%= @page_title = "Envelopes" %></h1>
  <div class="row">
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Money Availible</th>
        </tr>
      </thead>
      <tbody>
        <% @envelopes.each do |envelope| %>
          <tr class="clickable-row" data-href='<%= envelope_path(envelope)%>'>
            <td><%= envelope.name %></td>
            <td><span class="card-text <% if envelope.total <= 0 %>red<% end %>">$<%= envelope.total %></span><span> of $<%= envelope.initialTotal %></span><div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= envelope.total/envelope.initialTotal * 100 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
